@import url("https://fonts.googleapis.com/css?family=Courgette");
@import url("https://fonts.googleapis.com/css?family=Oxygen");

main
{
    font-family: 'Courgette', Arial, sans-serif;
}

.products_categories
{
    background-color: white;
    margin: 2.5%;
    display: flex;
    justify-content: space-between;
}

.title_category
{
    text-align: center;
    padding: 2.5%;
}

.category
{
    width: 200px;
    height: 200px;
    /*background-image: url(images/cookies.jpg);*/
    /*background-color: rgba(0, 0, 255, 0.5);
    background-size: 150%;
    background-repeat: no-repeat;*/
    border: solid 5px;
    margin: 3%;
    text-decoration: none;
    border : none;
    color: pink;
}

.category:link
{
    color: pink;
}

.category:visited
{
    border:none;
}

.category:hover
{
    border-color: pink;
    color: grey;
}

.category:active
{
    border: none;
}

.category article
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: none;
}

.category img
{
    max-width:100%;
    max-height:100%;
}

.category article h3
{
    /*align-items: center;
    justify-content: center;*/
}


/*PARTIE PRODUITS*/

.products 
{
   /* width: 250px;
    height: 200px;*/
    border: solid;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.products article img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}