@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

.active {
    color: #894e00;
}

html,
body,
header,
.view {
    margin: 0px;
    background-color: rgb(250, 247, 243);
}

main {
    margin: 0;
    text-align: center;
    margin: auto;
    /*centrer le texte pour l'instant*/
}

.contenu {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -10px;
    padding-top: 150px;
    text-align: center;
    font-family: 'Courgette';
}

.navbar {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color:rgb(250, 247, 243);
    margin: 0px;
    font-family: 'Courgette';
}

article{
    font-family: 'Oxygen';
    margin-left: 100px;
    margin-right: 100px;
}
.texte-1{
    display: flex;
    align-items: center;
}
.image-1{
    float: left;
    width: 40%;
    height: 13.2em;
    margin:20px;
}
a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #894e00;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    margin-left: 100px;
    margin-right: 100px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.header-img {
    background: url("images/image.png") center center no-repeat;
    background-size: cover;
    min-height: 60vh;
    height: 20vh;
}

.header-img h1 h3 {
    display: flex;
    justify-content: center;

}

.header-img h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 0;
}

.header-img h3 {
    font-size: 2rem;
    margin-top: 0;
    color: white;
}

@media screen and (max-width: 1200px) {
    #navigation {
        width: auto;
        text-align: left;
    }

    .logo {
        width: 30%;
    }

    #navigation ul {
        flex-direction: column;
    }

    #navigation li {
        padding-left: 4px;
    }

    #navigation a {
        font-size: 1.1em;
    }

    #navigation a:hover {
        border-bottom: 0;
    }

    .contenu {
        max-width: 540px;
    }
}


/* Scroll BAR DEBUT */
 ::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 1px;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f29898;
}

::-webkit-scrollbar-corner {}

::-webkit-resizer {}

::-webkit-scrollbar-thumb:window-inactive {
    background: #f29898;
} 

/* Scroll BAR FIN */