body {
    font-family: 'Courgette', cursive;
    background-color: rgb(250, 247, 243);

}
main{
    margin:0;
    text-align:center; 
    margin:auto;
    /* width : 1000px; */ /*centrer le texte pour l'instant*/
}


#navigation{
    display:flex;
    width: 1300px;
    text-align: center;
    margin: auto;
}


ul{
    list-style-type: none;
    margin :0px;
    padding :0px;
    overflow: hidden;
}
#navigation li{
    padding: 20px;
    align-items: center;
    margin-right: auto;
    margin-left:auto;
}
.logo{
    width: 5%;
    height: 5%;
    margin: auto;
}

li a{
    text-decoration: none;
    color:black;
}
li a:hover{

    color:#894e00;
}
span{
    display:block;
    color: rgba(242, 152, 152, 0.5);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
#header-img{
    background: url("images/image.png") no-repeat;
    background-size: 100%;
    margin:0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
}
.slogan{
    max-width: 1180px;
    text-align: center;
    padding: 100px 10rem;
    color:white;
}
#header-img h1{
    font-size: 4rem;
    margin-bottom:0;
}
#header-img h3{
    font-size: 2rem;
    margin-top: 0;
}

@media all and (max-width: 1200px)
{
    #navigation
    {
        width: auto;
        text-align: left;
    }
    
    .logo{
        width:30%;
    }
    #navigation ul
    {
        flex-direction: column;
    }

    #navigation li
    {
        padding-left: 4px;
    }
    
    #navigation a
    {
        font-size: 1.1em;
    }
    
    #navigation a:hover
    {
        border-bottom: 0;
    }
}



                                            /* Scroll BAR DEBUT */
::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}
                                  
::-webkit-scrollbar-track {
    -webkit-border-radius: 1px;
    border-radius: 10px;
}   
                                  
::-webkit-scrollbar-track-piece {
}
                                  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f29898; 
} 
::-webkit-scrollbar-corner {
}    
                                  
::-webkit-resizer {  
}
                                 
::-webkit-scrollbar-thumb:window-inactive {
    background: #f29898; 
}
                                             /* Scroll BAR FIN */