@import url("https://fonts.googleapis.com/css?family=Courgette");
body {
  background-color: rgb(240, 239, 239);
  padding-top:75px;
}
html,
body,
header,
.view {
  height: 90%;
}

header,
footer,nav,form {
  font-family: "Courgette";
}
.active {
  color: #894e00;
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color:black;
}

.intro {
  background: url("images/header.png");
  /*Parallax*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  background: rgba(242, 152, 152, 0.8);
}
.navbar-default {
  transition: 500ms ease;
}
.navbar-default.scrolled {
  background:rgba(242, 152, 152, 0.8);
}
.img1 {
  width: 100%;
}
.img2 {
  width: 100%;
  margin-bottom: 10px;
}

.container2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-1 {
  float: left;
  width: 33.33%;
  padding: 10px;
  text-align: center;
}

.col-1 a {
  text-decoration: none;
  color: white;
  font-family: "Courgette";
}
.footer-copyright {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.541);
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
form{
  border-style:solid;
  border-color: #f29898;
  border-radius: 25px;
  padding: 15%;
  margin: 10%;
}
input{
  border-radius: 15px;
  padding-left:5px;
  padding-right: 55px;
  margin: 2%;
  border-color: #f29898; 
}
Testing
input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  content: '✓';
  padding-left: 5px;
}master
#Connexion{
  height: auto;
}
#connexion{
  padding-left: 50px;
  background-color: #f29898;
}
h3{
  margin: 5%;
}
h1{
  margin-bottom: 10%;
}

@media screen and (max-width: 600px) {
  .col-1 {
    width: 100%;
  }
  .m-1 {
    margin-bottom: 2.4em !important;
  }
  .order-first {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-lg-2 {
    -ms-flex-order: -1;
    order: -1;
  }
  body{
    padding-top:61px;
  }
}
@media (min-width: 576px) {
  .container2 {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container2 {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container2 {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container2 {
    max-width: 1140px;
  }
}